body{
    width: 100%;
}
.font-orbitron {
  font-family: 'Orbitron', sans-serif !important;
}

.font-atkinson {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.font-dyslexic {
  font-family: 'OpenDyslexic', sans-serif;
}